# Ignore All Files
*
*.*

!.aliases
!.bash_profile
!.bash_prompt
!.bashrc
!.curlrc
!.editorconfig
!.emacs
!.emacs.d
!.exports
!.functions
!.gitattributes
!.gitconfig
!.gitignore
!.inputrc
!.osx
!.screenrc
!.slate
!.sublime
!.wgetrc
!.vimrc.bundles.local
!Brewfile
!Cask
!LICENSE-MIT.txt
!README.md
!bin
!bootstrap.sh
!init
