# Ignore All Files
*

!.aliases
!.bash_profile
!.bash_prompt
!.bashrc
!.curlrc
!.editorconfig
!.emacs
!.exports
!.functions
!.gitattributes
!.gitconfig
!.gitignore
!.inputrc
!.osx
!.screenrc
!.slate
!.sublime
!.vimrc.local
!.wgetrc
!Brewfile
!Cask
!LICENSE-MIT.txt
!README.md
!bin
!init
!.irssi
